{% set container = FALSE %}
{% set container_classes = [] %}
{% set wrapper_classes = [] %}
{% set main_classes = [] %}

{% for key, val in settings.classes %}
  {% if key == 'container' %}
    {% set container = TRUE %}
    {% set container_classes = container_classes|merge(val) %}
  {% elseif key == 'wrapper'  %}
    {% set wrapper_classes = wrapper_classes|merge(val) %}
  {% elseif key == 'main' %}
    {% set main_classes = main_classes|merge(val) %}
  {% endif %}
{% endfor %}

{% if container %}
  <div{{ attributes.addClass(container_classes).addClass('container') }}>
    {% endif %}
    <div{{ attributes.addClass(wrapper_classes) }}>
      {% if content.main %}
        <div{{ region_attributes.main.addClass(main_classes) }}>
          {{ content.main }}
        </div>
      {% endif %}
    </div>
    {% if container %}
  </div>
{% endif %}
